#frmDetails fieldset
{
    width: 250px;
    float: left;
    height: 315px;    
}

#frmDetails input[type="text"]
{
    width: 230px; 
    margin-bottom: 6px;   
}

#frmDetails select
{
    width: 230px; 
    margin-bottom: 6px;   
}

#frmDetails textarea
{
    width: 230px;    
    height: 250px;
}

#frmDetails #taskCompletedWrapper
{
    margin-top: 10px;    
}

#frmDetails label.error
{
    display: none !important;    
}

#frmDetails input.error
{
    border: 1px solid red;    
}

#frmDetails input.error, #frmDetails select.error
{
    border-color: red;    
}

body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}
.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

ul#tabNav
{
    height: 30px;
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

#tabNav li
{
    background: transparent;
    float: left;
    margin: 0 0 0 -5px;
    padding: 0;
    width: 158px;
}

#tabNav li:first-child
{
    margin-left: 0;
}

#tabNav a
{
    background: url('../../images/member/tab-bk-myproperty.png') top left repeat-x;    
    color: #fff;
    display: block;
    font-family: 'PTSansBold', sans-serif;      
    font-size: 14px;
    height:  30px; width: 140px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
	cursor: pointer;
}

#tabNav a.active, .tabNav a:hover
{
    background-position: bottom left;
}

ul#tabs
{
    list-style: none;
    margin: 0;
    padding: 0;  
}

#tabs>li
{
    background: transparent;
    display: none;
    margin: 0;
    padding: 0;
}

#tabs>li:first-child
{
    display: block;
}

.partners .mainCol {
float: left;
width: 640px;
}

a.button {
display: block;
padding: 5px 5px;
width: 130px;
text-decoration: none;
height: auto;
}
a.button:hover {
color: #FFFFFF;
}

.button {
background: #000000 url(../../images/admin/bk_btn.png) top left repeat-x;
border: 1px solid #CCCCCC;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
color: #FFFFFF;
cursor: pointer;
font-weight: bold;
height: 26px;
width: auto;
font-family: Verdana !important;
font-style: inherit !important;
}
.button:hover {
background-position: bottom left;
}

.center {
text-align: center;
}

.right {
float: right;
}